/*#purchases-and-list-div {
	display: none;
}
*/

#add-purchases {
  padding: 40px 40px 40px 40px;
  background-color: #B2FFFF;
  display: none;
}

#purchase-list { 
	display: none;
}

h1 { 
	text-align: center; 
	padding: 40px 40px 40px 40px;	
}

form#add-purchases label { 
	padding-bottom: 2px;
	padding-top: 10px;
}

form input {
	width: 100%; 
}

th { 
/*	width: 23%; */
	font-size: 20px; 
}



